
#container {
position: relative;
overflow: hidden;
  display: block;
}

#menu {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#product-svg {
position: relative;
z-index: 2;
mix-blend-mode: multiply;
mix-blend-mode: color;
}

#product-shape {
fill: #C4C6C7;
}

#product-back-shape {
fill: #C4C6C7;
}

#background-image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: auto;
z-index: -1;
}

.color-picker-container {
  display: flex;
  justify-content: space-around; /* Pour espacer uniformément les éléments */
}

.color-picker-item {
  text-align: center; /* Pour centrer le contenu horizontalement */
}

.color-picker-item label {
  display: block;
  margin-bottom: 5px;
}


.jscolor {
  z-index: 3;
  padding: 1em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px; 
  color: transparent;
  text-indent: -9999px;
}

.color-changing-svg path {
transition: fill 0.5s ease;
}
